<div class="content">

  <div class="border">

    <form class="formbox">
      <img alt="" class="image" src="../../assets/sound-wavesdard.png">
      <h1 class="heading">Login</h1>
      <input class="input" name="email" placeholder="Email" required type="email">
      <!--      TODO: Email validation -->

      <!--      <p  class="err">Email Cannot Be Empty!</p>-->
      <input class="input" name="password" placeholder="Password" required type="password">
      <!--      TODO: Password validation -->
      <!--      <p  class="err">Password Cannot Be Empty!</p>-->
      <input class="button" type="submit" value="login">

      <a class="link">
        <span (click)="nextpage('register')" class="link hov">Create An Account</span> or <span (click)="resetpassword()"
                                                                                                class="hov">Forgot Password</span>
      </a>

      <!-- <a class="link" >Forgot Password?</a> -->

    </form>
  </div>


  <div *ngIf="logwarn == 'true'" class="warncontainer">
    <div (click)="logwarn = 'false'" class="alertbox">
      <img alt="" class="alertimg" src="../../assets/thinking.svg">
      <div class="messagebox">
        <p class="alertmessagehead">Whoa, Hey There...</p>
        <p class="alertmessage">Your Data Has To Be Valid Before We Let You In</p>
        <button (click)="logwarn = 'false'" class="alertbutton">Okay</button>
      </div>
    </div>
  </div>


  <div *ngIf="logsucc == 'true'" class="succcontainer">
    <div class="alertbox">
      <img alt="" class="alertimg" src="../../assets/happy.svg">
      <div class="messagebox">
        <p class="alertmessagehead">Yesss!</p>
        <p class="alertmessage">You Have Successfully Logged In</p>
        <button (click)="cancelModal()" class="alertbutton">Okay</button>
      </div>
    </div>
  </div>

  <div *ngIf="loader == 'true'" class="loadcontainer">
    <div class="loadingmod">
      <img alt="" class="icon" src="../../assets/sound-wavesdard.png">
      <p class="message">Loggin In
        <span>.</span>
        <span>.</span>
        <span>.</span>
      </p>
    </div>
  </div>

  <div *ngIf="logfail == 'true'" class="failcontainer">
    <div (click)="logfail = 'false'" class="alertbox">
      <img alt="" class="alertimg" src="../../assets/sad.svg">
      <div class="messagebox">
        <p class="alertmessagehead">Oh Boy!</p>
        <p class="alertmessage">We Can't Let You In... Yet. {{ message }}</p>
        <button (click)="logfail = 'false';" class="alertbutton">Okay</button>
      </div>
    </div>
  </div>
</div>
