<div class="content">

  <div class="border">

<!--    <form #f="ngForm" (ngSubmit)="register(f)" class="formbox">-->
    <form  class="formbox">
      <img class="image" src="../../assets/sound-wavesdard.png" alt="">
      <h1 class="heading">Sign Up</h1>
      <input name="name" required type="text" class="input" placeholder="Username">
<!--      <p *ngIf="!name.valid && name.touched" class="err">Username Cannot Be Empty!</p>-->
      <p class="err">Username Cannot Be Empty!</p>
<!--      <input name="email" ngModel #email="ngModel" required type="email" class="input" placeholder="Email">-->
      <input name="email" required type="email" class="input" placeholder="Email">
<!--      <p *ngIf="!email.valid && email.touched" class="err">Email Cannot Be Empty!</p>-->
      <p class="err">Email Cannot Be Empty!</p>
<!--      <input name="password" ngModel #password="ngModel" required type="password" class="input" placeholder="Password">-->
      <input name="password" required type="password" class="input" placeholder="Password">
<!--      <p *ngIf="!password.valid && password.touched" class="err">Password Cannot Be Empty!</p>-->
      <p  class="err">Password Cannot Be Empty!</p>
      <!-- <p *ngIf="password.touched && password.length < minlength" class="err">Password Must Be At Least 6 Characters Long!</p> -->
      <input type="submit" value="Sign In" class="button">

      <a class="link" (click)="nextpage('login')">Already Have An Account?</a>
      <!-- <a class="link" href="login">login <i class="fas fa-chevron-right"></i></a>  -->
    </form>
  </div>

<!--  <div class="warncontainer" *ngIf="regwarn == 'true'">-->
<!--    <div class="alertbox" (click)="regwarn = 'false'">-->
<!--      <img src="../../assets/thinking.svg" alt="" class="alertimg">-->
<!--      <div class="messagebox">-->
<!--        <p class="alertmessagehead">Whoa, Hey There...</p>-->
<!--        <p class="alertmessage">Your Data Has To Be Valid Before We Let You In</p>-->
<!--        <button class="alertbutton" (click)="regwarn = 'false'">Okay</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


<!--  <div class="succcontainer" *ngIf="regsucc == 'true'">-->
<!--    <div class="alertbox">-->
<!--      <img src="../../assets/happy.svg" alt="" class="alertimg">-->
<!--      <div class="messagebox">-->
<!--        <p class="alertmessagehead">Yesss!</p>-->
<!--        <p class="alertmessage">You're Almost There Please Check Your Email To Verify</p>-->
<!--&lt;!&ndash;        <button class="alertbutton" (click)="cancelModal()">Okay</button>&ndash;&gt;-->
<!--        <button class="alertbutton">Okay</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="loadcontainer" *ngIf="loader == 'true'">-->
<!--    <div class="loadingmod">-->
<!--      <img src="../../assets/sound-wavesdard.png" alt="" class="icon">-->
<!--      <p class="message">Loggin In-->
<!--        <span>.</span>-->
<!--        <span>.</span>-->
<!--        <span>.</span>-->
<!--      </p>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="failcontainer" *ngIf="regfail == 'true'">-->
<!--    <div class="alertbox" (click)="regfail = 'false'">-->
<!--      <img src="../../assets/sad.svg" alt="" class="alertimg">-->
<!--      <div class="messagebox">-->
<!--        <p class="alertmessagehead">Oh Boy!</p>-->
<!--        <p class="alertmessage">We Can't Let You In... Yet. {{message}}</p>-->
<!--        <button class="alertbutton" (click)="regfail = 'false';">Okay</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

</div>
